body {
  margin: 0px;
  padding: 0px;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.contact-right img {
  max-width: 100%;
  height: auto;
}

.input-error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.contact-sections {
  display: flex;
  gap: 40px;
}

.contact-left,
.contact-right {
  flex: 1;
}
.contact-right {
  max-width: 100%;
}

.contact-right .flex {
  flex-wrap: wrap;
}

@media (max-width: 425px) {
  .navbar-logo {
    height: 25px !important;
    width: 25px !important;
    border-width: 1px !important;
  }
  .home-container {
    margin-top: 80px !important;
    padding: 0 15px !important;
  }

  .text-section h1 {
    font-size: 35px !important;
    line-height: 1.2 !important;
  }

  .text-section p {
    font-size: 16px !important;
  }

  .window-header,
  .window-body {
    width: 250px !important;
  }

  .responsive-image {
    width: 220px !important;
    height: 280px !important;
  }
  .skill-card {
    justify-content: center;
    text-align: center;
  }
  .skill-card span {
    margin-left: 0 !important;
    margin-top: 8px;
    display: block;
  }
  .project-img {
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .portfolio-box {
    margin: 0px !important;
    margin-top: 15px !important;
  }
}

@media (max-width: 768px) {
  .navbar-logo {
    height: 35px !important;
    width: 35px !important;
    border-width: 2px !important;
    border-radius: 50%;
    object-fit: cover;
  }

  .home-container {
    margin-top: 100px !important;
    flex-direction: column !important;
    text-align: center !important;
  }

  .text-section h1 {
    font-size: 45px !important;
    line-height: 1.2 !important;
  }

  .text-section p {
    font-size: 18px !important;
  }

  .image-section {
    margin-left: 0 !important;
    margin-top: 40px !important;
  }

  .window-header,
  .window-body {
    width: 300px !important;
  }

  .responsive-image {
    width: 260px !important;
    height: 330px !important;
  }
  .skill-card {
    padding: 12px;
  }
  img {
    width: 150px !important;
    height: 150px !important;
  }
  .test-icon {
    margin-left: 123px !important;
    margin-top: 130px;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .contact-sections {
    flex-direction: column;
  }
  .contact-right .ml-50 {
    margin-left: 0 !important;
  }

  .contact-right hr {
    width: 100% !important;
  }
  .contact-right img {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .contact-right {
    padding: 2rem !important;
  }

  .contact-right .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-right hr {
    width: 100% !important;
  }

  .contact-right div > div {
    margin-top: 0.5rem;
  }
  .contact-right img {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
}
